name: tests

on:
  push:
  workflow_call:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: "3.11"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Run Tests
      run: |
        python -m pytest tests/ -v --cov=src
    - name: Run Format Testing
      run: |
        python -m black --check -v src/
    - name: Run Type Checking
      run: |
        python -m mypy src/